
{% extends 'back/master.html'%}
{% load staticfiles %}

{% block mainblock %}
	
	<div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="fa fa-table"></i>News List<br><small>You can Add, Edit, Delete your Data!!</small>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li>News</li>
                            <li><a href="/panel/news/list">List</a></li>
                        </ul>





                        <div class="block full">
                            <div class="block-title">
                                <h2><strong>News</strong> List</h2>
                            </div>
                            
                            <div class="table-responsive ">
                                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th class="text-center">User &nbsp<i class="gi gi-user"></i></th>
                                            <th>Title</th>
                                            <th>Date & Time</th>
                                            <th>Category</th>
                                            <th>Writer</th>
                                            <th>Status </th>
                                            <th>Views </th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    	{% for data in news %}
                                        <tr>
                                            <td class="text-center">{{ data.rand }}</td>
                                            <td class="text-center"><img style = "display: inline-block; width:50px; height:50px;" src="{{data.picurl}}" alt="avatar" class="img-circle"></td>
                                            <td>{{ data.name }}</td>
                                            <td>{{ data.date }} | {{ data.time }}</td>
                                            <td>{{ data.catname }}</td>
                                            <td>{{ data.writer }}</td>
                                            {% if data.act == 0 %}
                                            <td class="text-center btn-warning" >Pending</td>
                                            {% elif data.act == 1%}
                                            <td class="text-center btn-success" >Confirmed</td>
                                            {% endif %}
                                            <td>{{ data.show }}</td>
                                            
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    {% if perms.main.masteruser %}
                                                    <a href="{% url 'news_suspend' pk=data.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i>&nbsp;Suspend&nbsp;</a>
                                                    {% endif %}
                                                    <a href="{% url 'news_edit' pk=data.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i>&nbsp;Edit&nbsp;</a>
                                                    {% if perms.main.masteruser %}
                                                    <a href="{% url 'news_delete' pk=data.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i>&nbsp;Delete</a>
                                                    <a href="{% url 'news_publish' pk=data.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i>&nbsp;Publish&nbsp;</a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                       

                                    </tbody>
                                </table>
                            </div>
                        </div>
    </div>

{% endblock %}

{% block footerblock %}
	    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}