
{% extends 'back/master.html'%}
{% load staticfiles %}


{% block headblock %}

    <static src="{% static 'ckeditor/ckeditor.js' %}"></static>
    <script src="https://cdn.ckeditor.com/4.15.0/full-all/ckeditor.js"></script>

{% endblock %}

{% block mainblock %}
	
	<div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="fa fa-table"></i>ADD NEWS<br>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li>News</li>
                            <li><a href="/panel/news/add">Add</a></li>
                        </ul>


<div class="row">
                            <div class="col-md-12">
                                <!-- Basic Form Elements Block -->
                                <div class="block">
                                    <!-- Basic Form Elements Title -->
                                    <div class="block-title">
                                        
                                        <h2><strong>Add</strong> Forms</h2>
                                    </div>
                                    <!-- END Form Elements Title -->

                                    <!-- Basic Form Elements Content -->
                                    <form action="{% url 'news_add' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" >

                                    	<!-- onsubmit=" return Validate()" -->
                                    		 {% csrf_token %}

                                    	<div class="form-group">
                                            <div class="col-md-6">

                                                <input type="text" id="newstitle" name="newstitle" class="form-control" placeholder="News Title" required>
                                            </div>

                                            

                                            <div class="col-md-6">
                                                <select id="newscat"  name="newscat" class="form-control" data-placeholder="Choose a Country.." style="width: 250px;">
                                            		                                             	                                                    	
                                                        <option value = "disabled selected ">Choose a Category..</option><!-- Required for data-placeholder attribute to work with Chosen plugin -->
                                                        {% for data in cat %}
                                                        <option value="{{data.pk}}">{{data.catname}} | {{data.name}}</option>
                                                        {% endfor %}
                                                </select>
                                                                                  
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label  for="newstxtshort">Short Text</label>
                                                <Textarea type="text" id="newstxtshort" name="newstxtshort" rows="5" class="form-control" placeholder="Short TXT" required></Textarea>
                                            </div>

                                            <script>
                                                CKEDITOR.replace( 'newstxtshort');
                                            </script>
                                            
                                        </div>

                                                    
                                        
                                        
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label  for="newstxt">Body Text</label>
                                                <Textarea type="text" id="newstxt" name="newstxt" rows="5" class="form-control" placeholder="Body TXT" required></Textarea>
                                            </div>

                                            <script>
                                                    CKEDITOR.replace( 'newstxt');
                                            </script>
                                            
                                        </div>
                                            <!--FILE UPLOAD-->
                                        <div class="form-group">
                                            <div class="col-md-6 fallback">
                                                <input type="file" id="file" name="file" class="form-control" rows="5"  >
                                            </div>

                                            <div class="col-md-6 fallback">
                                                <Textarea type="text" id="tag" name="tag" rows="5" class="form-control" placeholder="Tags" required></Textarea>
                                            </div>
                                            
                                        </div>
                                        
                                        
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                                            </div>
                                            
                                        </div>

                                       
                                        
                                        
                                       
                                    </form>
                                    <!-- END Basic Form Elements Content -->
                                </div>
                                <!-- END Basic Form Elements Block -->
                            </div>
                           


                       
{% endblock %}

{% block footerblock %}
	<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>


    

    
{% endblock %}