
{% extends 'back/master.html'%}
{% load staticfiles %}
{% load extra_auth %}

{% block mainblock %}
	
	<div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="fa fa-table"></i>trending List<br><small>You can Add, Edit, Delete your Data!!</small>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li>Trending</li>
                            <li><a href="/panel/trendinglist">List</a></li>
                        </ul>





                        <div class="block full">
                            <div class="block-title">
                                <h2><strong>Trending</strong> List</h2>
                            </div> 
                            
                            <div class="table-responsive ">
                                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th class="text-center">TEXT</th>
                                           
                                            
                                        </tr>
                                    </thead>
                                    <tbody>

                                    	{% for data in trending_lists %}
                                        <tr>
                                            <td class="text-center">{{ data.pk }}</td>
                                            
                                            <td>{{ data.txt }}</td>
                                            
                                           
                                            <td class="text-center">
                                                {% if request.user|has_group:"masteruser" %}
                                                <div class="btn-group">
                                                    <a href="{% url 'trending_edit' pk=data.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i>&nbsp;Edit&nbsp;</a>
                                                    <a href="{% url 'trending_delete' pk=data.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i>&nbsp;Delete</a>
                                                </div>
                                                {% endif %}
                                            </td>
                                            
                                        </tr>
                                        {% endfor %}

                                       

                                    </tbody>
                                </table>
                            </div>
                        </div>
    </div>

{% endblock %}

{% block footerblock %}
	    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}