{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

	{% block headblock %}
		<title>{{site.name}}</title>
	{% endblock %}
	
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'front/images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'front/css/util.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'front/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="topbar">
				<div class="content-topbar h-100 p-rl-30">
					<div class="align-self-stretch size-w-0 pos-relative m-r-30">
						<div class="f2-s-1 flex-wr-s-c s-full ab-t-l p-b-2">
							<span class="text-uppercase cl0 p-r-8">
								Trending Now:
							</span>

							<span class="dis-inline-block cl16 slide100-txt pos-relative size-w-0" data-in="fadeInDown" data-out="fadeOutDown">

								{% for trends in trending %}
								<span class="dis-inline-block slide100-txt-item animated visible-false">
									{{ trends.txt }}
								</span>
								{% endfor %}

								
							</span>
						</div>
					</div>
						

					<div class="flex-wr-e-c">
						<div class="left-topbar">
							<span class="left-topbar-item flex-wr-s-c">
								<span>
									{{ wheatherapi.name }}
								</span>

								<img class="m-b-1 m-rl-8" src="http://openweathermap.org/img/wn/{{ wheatherapi.weather.0.icon }}@2x.png" alt="IMG" style="width:40px;height:50px";>

								<span>
									
										
									Min. {{ min_temp }} Max. {{ max_temp }} &nbsp;{{ wheatherapi.weather.0.main }}
									
									
								</span>
							</span>

							<a href="/about" class="left-topbar-item">
								About
							</a>

							<a href="/contact" class="left-topbar-item">
								Contact
							</a>

							<a href="/mylogin" class="left-topbar-item">
								Log in | Sing up
							</a>

							<a href="#" class="left-topbar-item"></a>
						</div>

						<div class="right-topbar p-l-18">
							<a href="{{ site.fb }}">
								<span class="fab fa-facebook-f"></span>
							</a>

							<a href="{{ site.tw }}">
								<span class="fab fa-twitter"></span>
							</a>

							
							<a href="{{ site.yt}}">
								<span class="fab fa-youtube"></span>
							</a>
						</div>
					</div>	
				</div>
			</div>

			<!-- Header Mobile -->
			<div class="wrap-header-mobile">
				<!-- Logo moblie -->		
				<div class="logo-mobile">
					<a href="#"><img src="{{site.picurltop}}" alt="IMG-LOGO"></a>
				</div>

				<!-- Button show menu -->
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>

			<!-- Menu Mobile -->
			<div class="menu-mobile">
				<ul class="topbar-mobile">
					<li class="left-topbar">
						<span class="left-topbar-item flex-wr-s-c">
							<span>
								{{ wheatherapi.name }}
							</span>

							<img class="m-b-1 m-rl-8" src="{% static 'front/images/icons/icon-night.png' %}" alt="IMG">

							<span>
								HI 58° LO 56°
							</span>
						</span>
					</li>

					<li class="left-topbar">
						<a href="#" class="left-topbar-item">
							About
						</a>

						<a href="/contact" class="left-topbar-item">
							Contact
						</a>

						<a href="#" class="left-topbar-item">
							Sing up
						</a>

						<a href="#" class="left-topbar-item">
							Log in
						</a>
					</li>

					<li class="right-topbar">
						<a href="#">
							<span class="fab fa-facebook-f"></span>
						</a>

						<a href="#">
							<span class="fab fa-twitter"></span>
						</a>

						<a href="#">
							<span class="fab fa-pinterest-p"></span>
						</a>

						<a href="#">
							<span class="fab fa-vimeo-v"></span>
						</a>

						<a href="#">
							<span class="fab fa-youtube"></span>
						</a>
					</li>
				</ul>

				<ul class="main-menu-m">
					<li>
						<a href="/">Home</a>
						

						
					</li>

					{% for sideheading in cat %}
					<li>
						<a href="category-01.html">{{sideheading.name}}</a>
						<span class="arrow-main-menu-m">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
								
								
							<ul class="sub-menu-m">
								{% for subhead in subcat %}
							<li><a href="category-01.html">{{subhead.name}}</a></li>
							{% endfor %}
						</ul>
						</span>
					</li>
					{% endfor %}

					

					
				</ul>
			</div>
			
			<!--  -->
			<div class="wrap-logo no-banner container">
				<!-- Logo desktop -->		
				<div class="logo">
					<a href="/"><img src="{{site.picurltop}}" alt="LOGO"></a>
				</div>
			</div>	
			
			<!--  -->
			<div class="wrap-main-nav">
				<div class="main-nav">
					<!-- Menu desktop -->
					<nav class="menu-desktop">
						<a class="logo-stick" href="index.html">
							<img src="{% static 'front/images/icons/logo-01.png' %}" alt="LOGO">
						</a>

						<ul class="main-menu justify-content-center">
							<li class="main-menu-active">
								<a href="index.html">Home</a>
								<!-- <ul class="sub-menu">
									<li><a href="index.html">Homepage v1</a></li>
									<li><a href="home-02.html">Homepage v2</a></li>
									<li><a href="home-03.html">Homepage v3</a></li>
								</ul> -->
							</li>

								{% for heading in cat %}
								{% if heading.count != 0 %}
							<li class="mega-menu-item">
								<a href="category-01.html">{{heading.name}}</a>

								<div class="sub-mega-menu">
									<div class="nav flex-column nav-pills" role="tablist">
										<a class="nav-link active" data-toggle="pill" href="#news-0" role="tab">All</a>

										{% for subcat in subcat %}
										{% if subcat.catid == heading.pk %}
										<a class="nav-link" data-toggle="pill" href="#{{subcat.pk}}" role="tab">{{subcat.name}}</a>
										{% endif %}
										{% endfor %}

										
									</div>

									<div class="tab-content">
										<div class="tab-pane show active" id="news-0" role="tabpanel">
											<div class="row">

												{% for hh in news %}
												{% if hh.ocatid == heading.pk %}
												<div class="col-3">
													<!-- Item post -->	
													<div>
														<a href="{% url 'news_detail' word=hh.name %}" class="wrap-pic-w hov1 trans-03">
															<img style="display: inline-block; width:140px; height:140px;" src="{{hh.picurl}}" alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5">
																<a href="{% url 'news_detail' word=hh.name %}" class="f1-s-5 cl3 hov-cl10 trans-03">
																	{{hh.name}}
																</a>
															</h5>

															<span class="cl8">
																<a href="{% url 'news_detail' word=hh.name %}" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{hh.catname}}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	{{hh.date}}
																</span>
															</span>
														</div>
													</div>
												</div>
												{% endif %}
												{% endfor %}
												
											</div>
										</div>


										{% for subcat2 in subcat %}
										<div class="tab-pane" id="{{subcat2.pk}}" role="tabpanel">
											<div class="row">

												{% for hh in news %}
												{% if hh.catid == subcat2.pk %}
												<div class="col-3">
													<!-- Item post -->	
													<div>
														<a href="#l" class="wrap-pic-w hov1 trans-03">
															<img style="display: inline-block; width:140px; height:140px;" src="{{hh.picurl}}" alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5">
																<a href="#" class="f1-s-5 cl3 hov-cl10 trans-03">
																	{{hh.name}}
																</a>
															</h5>

															<span class="cl8">
																<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{hh.catname}}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	{{hh.date}}
																</span>
															</span>
														</div>
													</div>
												</div>
												{% endif %}
												{% endfor %}

												
											</div>
										</div>
										{% endfor %}

										
									</div>
								</div>
							</li>
							{% endif %}
							{% endfor %}
							
						</ul>
					</nav>
				</div>
			</div>	
		</div>
	</header>
		
	<!-- Feature post -->
	

	<!-- Post -->
	

	<!-- Banner -->
	<!-- <div class="container m-t-10 m-b-15">
		<div class="flex-c-c">
			<a href="#">
				<img class="max-w-full" src="{% static 'front/images/banner-01.jpg' %}" alt="IMG">
			</a>
		</div>
	</div>
 -->
	<!-- Latest -->

	{% block mainblock %}
	{% endblock %}
	<!-- Footer -->
	<footer>
		<div class="bg2 p-t-40 p-b-25">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<a href="index.html">
								<img class="max-s-full" src="{{site.picurlbottom}}" alt="LOGO">
							</a>
						</div>

						<div>
							<p class="f1-s-1 cl11 p-b-16">
								{{site.about|safe}}
							</p>

							<p class="f1-s-1 cl11 p-b-16">
								Contact Number : {{ site.tell|safe }}
							</p>

							<div class="p-t-15">
								<a href="{{ site.fb}}" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-facebook-f"></span>
								</a>

								<a href="{{site.tw}}" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-twitter"></span>
								</a>

								

								<a href="{{site.yt}} " class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-youtube"></span>
								</a>
							</div>
						</div>
						<br>

						<form action="{% url 'news_letter' %}" method="POST" onsubmit=" return validate()">
							{% csrf_token %}
						<input class="bo-1-rad-3 bocl13 size-a-19 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="email" id="newslettername" name="newslettername" placeholder="Enter Your Email & Phone Number">
						<button  type="submit" class="btn btn-success" >Submit</button>
					</form>
					</div>


					<div class="col-sm-6 col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<h5 class="f1-m-7 cl0">
								Popular Posts
							</h5>
						</div>

						<ul>
							{% for pop in popnews2 %}
							<li class="flex-wr-sb-s p-b-20">
								<a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
									<img src="{{pop.picurl}}" alt="IMG">
								</a>

								<div class="size-w-5">
									<h6 class="p-b-5">
										<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
											{{pop.name}}
										</a>
									</h6>

									<span class="f1-s-3 cl6">
										{{pop.date}}
									</span>
								</div>
							</li>
							{% endfor %}

						</ul>
					</div>
					

					<div class="col-sm-6 col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<h5 class="f1-m-7 cl0">
								Category
							</h5>
						</div>

						<ul class="m-t--12">

							{% for category in cat %}
							{% if category.count != 0 %}
							
							<li class="how-bor1 p-rl-5 p-tb-10">
								<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">



									{{category.name}} 
									
									({{category.count}})
								</a>
							</li>
							
							{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>

		

		<div class="bg11">
			<div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">
					Copyright © 2020 

					<a href="#" class="f1-s-1 cl10 hov-link1"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</span>
			</div>
		</div>
	</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>

	<!-- Modal Video 01-->
	<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" data-dismiss="modal">
			<div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

			<div class="wrap-video-mo-01">
				<div class="video-mo-01">
					<iframe src="https://www.youtube.com/embed/wJnBTPUQS5A?rel=0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
	<script src="{% static 'front/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'front/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'front/js/main.js' %}"></script>
<!--===============================================================================================-->


</body>
</html>